
.button {
  color: var(--title-text);
  background-color: var(--prymary-background-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.primary {
  color: var(--accent-new-color);
  background-color: var(--accent-color);
}
.button:hover {
  background-color: var(--accent-color);
  color: var(--accent-new-color);
}

.project{
    background-color: var(--prymary-background-color);
}
.project .project-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text)
}

.project .text{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}