:root{
--primary-text-color: #757575;
--title-text:#212121;
--accent-color: #2196F3;
--accent-new-color: #FFFFFF;
--prymary-background-color: #E5E5E5;
}


body {
  background-color: var(--prymary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
/* цвет основного текста #212121 */

/* вторичний цвет #757575 */

/* белий #FFFFFF */

/* синий #2196F3 */
/* fon #E5E5E5*/ 
/*fon2  #F5F4FA*/


.logo {
  color:var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}


.site-nav .link {
  color: var(--title-text);
}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current{
  color: var(--accent-color);
}

/* сылка авторизации */
.auth-link .link:hover,
.auth-link .link:focus{
color: var(--accent-color);
}

.auth-link .link{
  color: var(--primary-text-color);
}


/* Банер */
.banner{
  background:  #2F303A;
}
.banner .banner-subtitle{
  font-style: normal;
 font-weight: 900;
 font-size: 44px;
 line-height: 60px;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: var(--accent-new-color);
}
/* Кнопка */
.button{
  color: var(--title-text);
  background-color: var(--prymary-background-color);
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.button.primary{
  color: var(--accent-new-color);
  background-color: var(--accent-color);
}

/* Организхационные моменты */
.features {
  background: #E5E5E5;
}
.features .features-title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text)
}

.features .features-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.work{
  background: #E5E5E5
}
.work .work-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}

/* nasha komanda */
.our-team{
  background: #F5F4FA;
}
.our-team .our-team-title{
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text);
}

.our-team .our-team-name{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text);
}

.our-team .our-team-job{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}